{{define "notfound"}}
    <!doctype html>
    <html lang='en'>
        <head>
            <meta charset='utf-8'>
            <title>Not Found</title>
            <link rel='stylesheet' href='/static/css/notFound.css'>
        </head>
        <body> 
            <div class='not_found'>
                <img src="/static/img/not_found.jpg">
                <strong><p>404 Not Found</p></strong>
            </div>
        </body>
    </html>
{{end}}
